<div class="navbar">
    <div class="dropdown centerList">
        <button class="dropButton">Menu</button>
        <div class="dropContent">
            <a href="../add-score.ejs">Add score</a>
            <!-- <a href="../second-page.ejs">second page</a> -->
        </div>
    </div>
</div>