<!DOCTYPE html>
<html lang="en">

<!-- head section-->
<%- include('partials/head.ejs') -%>

    <body>
        <!-- navbar -->
        <%- include('partials/navbar') %>

            <!-- content in home  -->
            <h2>hi</h2>
            <p>Welcome to MVC</p>

            <!-- footer -->
            <%- include('partials/footer.ejs') %>
    </body>

</html>