<!DOCTYPE html>
<html lang="en">

<!-- head section-->
<%- include('partials/head.ejs') -%>

    <body>
        <!-- navbar -->
        <%- include('partials/navbar') %>

            <!-- content in home  -->
            <h2>Are this meme viral?</h2>
            <div class="title">Welcome you guys to meme score.</div>
            <p>You should select add score page to add score</p>
            <div class="emptyBlock"></div>

            <!-- footer -->
            <%- include('partials/footer.ejs') %>

                <!-- <script type="text/javascripts" src="../public/javascripts/main.js"></script> -->
    </body>

</html>